body{
    background-color: #3498DB  
}

.box-1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 0;
        margin: 0;
        border-block-color: white
}